<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>la personne à été mis à jours avec succée</h1>
    <p>{{ personne.firstname }} {{ personne.firstname }} est supprimé à {{ personne.updatedAt | date }}</p>
</body>
</html>